body {
  overflow: hidden;
  background: #999999;
  background: -moz-linear-gradient(top, #999999 0%, #dcdcdc 48%);
  background: -webkit-linear-gradient(top, #999999 0%, #dcdcdc 48%);
  background: linear-gradient(to bottom, #999999 0%, #dcdcdc 48%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#dcdcdc',GradientType=0 );
  background-attachment: fixed; }
  body nav ul {
    margin: 85px 0 0 68px;
    padding: 0; }
    body nav ul li {
      list-style-type: none;
      padding-bottom: 30px; }
      body nav ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Roboto', serif;
        font-weight: 400;
        line-height: 13px; }
        body nav ul li a:hover {
          color: #00a341; }
  body .layout {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh; }
    body .layout button.menu {
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 100;
      background: none;
      border: 0; }
      @media screen and (max-width: 600px) {
        body .layout button.menu {
          top: 15px;
          right: 15px; } }
      body .layout button.menu svg:hover .menu__hamburger-line {
        fill: #00a341; }
    body .layout #content-container.content-container--nav-open {
      transform: translate(-300px, 0); }
    body .layout #content-container.content-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      transition: all 0.5s; }
      body .layout #content-container.content-container .content-container__home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh; }
        body .layout #content-container.content-container .content-container__home .content-container__home__title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          body .layout #content-container.content-container .content-container__home .content-container__home__title .content-container__home__title__name {
            font-family: 'Bree Serif', serif;
            font-size: 72px;
            font-weight: normal;
            text-align: center;
            line-height: 65px;
            margin: 0 0 15px 0;
            padding: 0; }
          body .layout #content-container.content-container .content-container__home .content-container__home__title .content-container__home__title__description {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 18px;
            text-align: center;
            margin: 0 0 29px 0;
            padding: 0; }
          body .layout #content-container.content-container .content-container__home .content-container__home__title .content-container__home__title--text-shadow--size-8 {
            text-shadow: 0 8px 0 rgba(150, 150, 150, 0.35); }
          body .layout #content-container.content-container .content-container__home .content-container__home__title .content-container__home__title--text-shadow--size-3 {
            text-shadow: 0 3px 0 rgba(150, 150, 150, 0.35); }
    body .layout #content-container.home .btn {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: block;
      position: relative;
      top: 0;
      width: 169px;
      height: 57px;
      margin: 0 auto;
      text-decoration: none;
      transition: all 0.3s; }
      body .layout #content-container.home .btn .btn__copy {
        display: block;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 42px;
        text-align: center;
        color: #ffffff; }
      body .layout #content-container.home .btn--box-shadow {
        -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15); }
        body .layout #content-container.home .btn--box-shadow:hover {
          -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.15); }
      body .layout #content-container.home .btn--green {
        background-color: #00a341; }
      body .layout #content-container.home .btn:hover {
        top: 3px; }
    body .layout #content-container.projects .projects__title {
      position: relative;
      margin: 50px 0 0 0; }
    body .layout #content-container.projects .projects__title--text-shadow--size-8 {
      text-shadow: 0 8px 0 rgba(150, 150, 150, 0.35); }
    body .layout #content-container.projects .projects__title__name {
      font-family: 'Bree Serif', serif;
      font-size: 72px;
      font-weight: normal;
      text-align: center;
      line-height: 65px;
      margin: 0 0 75px 0;
      padding: 0; }
    body .layout #content-container.projects .projects__list-container {
      margin: 0 auto;
      max-width: 80vw;
      padding: 0 1rem; }
      body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell {
        position: relative;
        margin: 0 1rem 5rem; }
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell a:hover .projects__list-container__grid__cell__overlay {
          width: 100%;
          left: 0; }
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell .projects__list-container__grid__cell__image {
          display: block;
          width: 100%;
          margin: 0 auto; }
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell .projects__list-container__grid__cell__overlay {
          position: absolute;
          bottom: 0;
          left: 100%;
          right: 0;
          background-color: #008CBA;
          overflow: hidden;
          width: 0;
          height: 100%;
          transition: 0.5s ease;
          opacity: .97; }
          body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell .projects__list-container__grid__cell__overlay .projects__list-container__grid__cell__overlay__copy {
            font-family: 'Roboto', serif;
            font-weight: 100;
            white-space: nowrap;
            color: white;
            font-size: 36px;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase; }
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell .projects__list-container__grid__cell__image--shadow {
          -webkit-box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.52);
          -moz-box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.52);
          box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.52); }
      @media screen and (min-width: 600px) {
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between; }
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid__cell {
          width: calc(50% - 5rem); } }
      @media screen and (min-width: 1000px) {
        body .layout #content-container.projects .projects__list-container .projects__list-container__grid__cell {
          width: calc(33.3333% - 5rem); } }
    body .layout #content-container.client-container .client-container__toggle {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-color: #ffffff;
      width: 60px;
      height: 60px;
      text-align: center;
      display: none; }
      @media screen and (max-width: 768px) {
        body .layout #content-container.client-container .client-container__toggle {
          width: 30px; } }

@keyframes client-container__toggle--transition-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      body .layout #content-container.client-container .client-container__toggle.client-container__toggle--transition-in {
        display: block;
        animation: client-container__toggle--transition-in 0.5s; }
      body .layout #content-container.client-container .client-container__toggle.client-container__toggle--transition-out {
        display: none; }
      body .layout #content-container.client-container .client-container__toggle.client-container__toggle-shadow--size-8 {
        -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1); }
      body .layout #content-container.client-container .client-container__toggle.client-container__next {
        right: 0; }
      body .layout #content-container.client-container .client-container__toggle.client-container__prev {
        left: 0; }
      body .layout #content-container.client-container .client-container__toggle .client-container__toggle__arrow {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        line-height: 8px; }
    body .layout #content-container.client-container .client-container__clients {
      position: absolute;
      width: 100vw;
      height: 100vh; }
      body .layout #content-container.client-container .client-container__clients .client-container__clients__content {
        max-width: 80vw;
        width: 1024px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__hero {
          display: block;
          margin: 0 auto;
          max-height: 60vh;
          max-width: 100%; }
          @media screen and (max-width: 600px) {
            body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__hero {
              margin: 0 auto 15px; } }
        body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__title {
          font-family: 'Bree Serif', serif;
          font-size: 58px;
          font-weight: normal;
          text-transform: uppercase;
          line-height: 60px;
          margin: 0 0 20px; }
          @media screen and (max-width: 600px) {
            body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__title {
              font-size: 35px;
              margin: 0 0 10px;
              line-height: 33px; } }
          body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__title.client-container__clients__content__title--shadow-size-8 {
            text-shadow: 0 8px 0 rgba(150, 150, 150, 0.35); }
            @media screen and (max-width: 600px) {
              body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__title.client-container__clients__content__title--shadow-size-8 {
                text-shadow: 0 3px 0 rgba(150, 150, 150, 0.35); } }
        body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__role {
          font-size: 25px;
          font-family: 'Roboto', serif;
          font-weight: 700;
          text-transform: uppercase;
          color: #00a341;
          line-height: 10px;
          margin: 0 0 25px; }
          @media screen and (max-width: 600px) {
            body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__role {
              font-size: 19px;
              margin: 0 0 15px; } }
        body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__description {
          white-space: pre-wrap;
          font-size: 15px;
          font-family: 'Roboto', serif;
          line-height: 26px;
          margin: 0 0 25px; }
          @media screen and (max-width: 600px) {
            body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__description {
              font-size: 15px; } }
        body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__technologies {
          white-space: pre-wrap;
          font-size: 15px;
          font-family: 'Roboto', serif;
          font-weight: 500;
          font-style: italic; }
          @media screen and (max-width: 600px) {
            body .layout #content-container.client-container .client-container__clients .client-container__clients__content .client-container__clients__content__technologies {
              font-size: 15px; } }
    body .layout .nav {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #1d1e20;
      transition: all 0.3s; }
  body .content-container--transition-in {
    animation: content-container--transition-in 0.5s;
    animation-fill-mode: forwards; }
  body .content-container--transition-out {
    animation: content-container--transition-out 0.5s;
    animation-fill-mode: forwards; }
  body .content-container--transition-before {
    transform: translate(100vw, 0); }

@keyframes content-container--transition-in {
  from {
    transform: translateX(100vw); }
  to {
    transform: translateX(0); } }

@keyframes content-container--transition-out {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-100vw, 0); } }

html.touch body .layout #content-container .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell a .projects__list-container__grid__cell__overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: calc(2.5rem * 1.1);
  opacity: .97; }
  html.touch body .layout #content-container .projects__list-container .projects__list-container__grid .projects__list-container__grid__cell a .projects__list-container__grid__cell__overlay .projects__list-container__grid__cell__overlay__copy {
    font-size: 1.15rem; }
